{% if flash_messages is defined %}
    {% for flash_message in flash_messages %}

        {% for class, message in flash_message %}

       {% if class == 'error' %}
<div class="div-error ui-state-error ui-corner-all mmf-iec-div-flash" >
    <span class="ui-icon ui-icon-alert" ></span>
    {{ message }}
</div>
        {% elseif class == 'highlight' %}
<div class="div-highlight ui-state-highlight ui-corner-all mmf-iec-div-flash" >
    <span class="ui-icon ui-icon-info"></span>
    {{ message }}
</div>
        {% else %}
<div class="{{ class }} mmf-iec-div-flash">
    <span class="ui-icon ui-icon-check></span>
    {{ message }}
</div>
        {% endif %}

        {% endfor%}
    {% endfor %}
{% endif %}

