{% extends "MuchoMasFacilInlineEditableContentsBundle::demo_layout.html.twig" %}

{% block body %}

    <h1 id="h1-page-h1" data-mmf-iec-editable-url="{{ path('mmf_iec_index' , {'handler': contents['page-h1'].handler, 'content_container_id':'h1-page-h1'}) }}">
    {% render "MuchoMasFacilInlineEditableContentsBundle:Content:render" with {'handler': contents['page-h1'].handler} %}
    </h1>

    <div id="div-page-html" data-mmf-iec-editable-url="{{ path('mmf_iec_index' , {'handler': contents['page-html'].handler, 'content_container_id':'div-page-html'}) }}">
    {% render "MuchoMasFacilInlineEditableContentsBundle:Content:render" with {'handler': contents['page-html'].handler} %}
    </h1>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ path('mmf_iec_js_include') }}" type="text/javascript"></script>
{% endblock %}
